# Ignorer les dépendances
node_modules/

# Ignorer les fichiers de configuration locaux
.env
.DS_Store

# Ignorer les fichiers de l'IDE/éditeur
.vscode/
settings.json

# Ignorer les fichiers de cache ou de logs
*.log

# Ignorer les fichiers générés par TailwindCSS
/src/output.css